<?xml version="1.0" encoding="UTF-8"?>
<odoo>
<!-- 
    <menuitem id="leulit_20230214_1233_menuitem"
            name="Facturas de venta"
            action="account.action_move_out_invoice_type"
            parent="sale.sale_menu_root"
            sequence="10" groups="sales_team.group_sale_salesman"/>
    
    <menuitem id="leulit_20230321_1441_menuitem"
            name="Facturas de compra"
            action="account.action_move_in_invoice_type"
            parent="purchase.menu_purchase_root"
            sequence="10" groups="purchase.group_purchase_manager,purchase.group_purchase_user"/>
    

    <menuitem
        id="leulit_20230228_1104_menuitem"
        name="Mis facturas"
        action="account.action_move_out_invoice_type"
        parent="crm.crm_menu_sales"
        sequence="2"/> -->

</odoo>
