<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Menú Principal -->
    <menuitem id="menu_leulit_meteo_root"
              name="Meteorología"
              sequence="60"
              web_icon="leulit,static/description/meteorologia_.png"
              groups="leulit.RBase"/>

    <!-- Submenú Consultas Clima -->
    <menuitem id="menu_leulit_meteo_consultas"
              name="Consultas Clima"
              parent="menu_leulit_meteo_root"
              action="action_leulit_meteo_consulta"
              sequence="10"/>

    <!-- Submenú Rutas Predefinidas -->
    <menuitem id="menu_leulit_meteo_rutas"
              name="Rutas Predefinidas"
              parent="menu_leulit_meteo_root"
              action="action_leulit_meteo_ruta_template"
              sequence="15"/>

    <!-- Submenú METAR -->
    <menuitem id="menu_leulit_meteo_metar"
              name="Reportes METAR"
              parent="menu_leulit_meteo_root"
              action="action_leulit_meteo_metar"
              sequence="20"/>

    <!-- Submenú Aeródromos de Referencia (solo administradores) -->
    <menuitem id="menu_leulit_meteo_icao_reference"
              name="Aeródromos de Referencia"
              parent="menu_leulit_meteo_root"
              action="action_leulit_meteo_icao_reference"
              sequence="22"
              groups="base.group_system"/>

    <!-- Configuración (padre) -->
    <menuitem id="menu_leulit_meteo_config_root"
              name="Configuración"
              parent="menu_leulit_meteo_root"
              sequence="99"
              groups="base.group_system"/>

    <menuitem id="menu_leulit_meteo_config"
              name="API Keys"
              parent="menu_leulit_meteo_config_root"
              action="action_leulit_meteo_config"
              sequence="10"
              groups="base.group_system"/>

    <menuitem id="menu_leulit_meteo_umbral_config"
              name="Umbrales Operacionales"
              parent="menu_leulit_meteo_config_root"
              action="action_leulit_meteo_umbral_config"
              sequence="20"
              groups="base.group_system"/>

    <menuitem id="menu_leulit_meteo_aesa_doc"
              name="Documento AESA"
              parent="menu_leulit_meteo_config_root"
              action="action_leulit_meteo_aesa_doc"
              sequence="30"
              groups="base.group_system"/>

</odoo>
